* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spinnerbody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vw;
} 

.container {
    margin-left: 4vw;
    margin-top: 8vw;
    margin-bottom: 8vw;
    position: relative;
    width: 85vw;
    height: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* removes the hightlighting when you click on mobile */
}

.container .spinBtn {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 6vw;
    color: #333;
    letter-spacing: 1vw;
    transform: rotate(270deg);
    border: 0.5vw solid rgba(0,0,0,0.75);
    cursor: pointer;
}

.container .spinBtn::before {
    content: '';
    position: absolute;
    top: -29.5vw;
    width: 8vw;
    height: 8vw;
    background: #fff;
    transform: rotate(180deg);
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.container .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 1vw #333,
                0 0 0 2vw #fff;
    transition: transform 5s ease-in-out;
}

.container .wheel .number {
    position: absolute;
    width: 50%;
    height: 50%;
    transform-origin: bottom right;
    transform: rotate(calc(72deg * var(--i)));
    clip-path: polygon(0 0, 82% 0, 100% 100%, 0 82%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .wheel .number span {
    position: relative;
    transform: rotate(315deg);
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 600;
    color: #eee;
    text-shadow: 0.5vw 0.5vw 0.5vw rgba(0,0,0,0.15)
}